body {
  font-family: "Overpass", sans-serif;
  user-select: none;
  margin: 0;
  font-size: 16px;
}

h2, h3, h4, h5, h6 {
  color: #1f3f5b;
}

button {
  font-family: "Ubuntu", sans-serif;
  border: 1px solid white;
  padding: 9px 18px;
  border-radius: 1.25em;
  background-color: white;
  font-weight: 500;
  color: #ff525d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  position: relative;
  /* ? is this good practice? */
  left: -20%;
}

nav > ul {
  padding-left: 2em;
}

p {
  width: 50ch;
  line-height: 1.8;
}

h1 {
  text-align: center;
  font-size: 3em;
}

header {
  color: white;
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: right;
  /* background-blend-mode: lighten; */
  /* background-image: linear-gradient(to left, hsl(353, 100%, 62%), hsl(13, 100%, 72%)),url("./images/bg-pattern-intro.svg"); */
  background-image: linear-gradient(to left, rgba(255, 61, 84, 0.95), rgba(255, 143, 112, 0.9)), url("../images/bg-pattern-intro.svg");
  padding: 20px 0px 100px 0px;
  border-bottom-left-radius: 100px;
  margin-bottom: 100px;
}

header > h4 {
  text-align: center;
}

main > h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: -2em;
}

main p {
  font-size: 0.85em;
}

h3 {
  font-size: 1.5em;
}

.hdr-btm-buttons {
  display: flex;
  justify-content: center;
}

.hdr-btm-buttons > button {
  width: 10em;
  margin-left: 10px;
  margin-right: 10px;
}

.top-row-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.text-img-wrapper {
  display: flex;
  flex-direction: row;
  height: 40vh;
  align-items: center;
}

.text-content-wrapper {
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  /* margin-top: 10%; */
  /* margin-bottom: 30%; */
}

.img-wrapper {
  width: 50%;
}

button:hover {
  background-color: #ff8f70;
  color: white;
}

.nav-heading {
  padding-right: 0px;
  height: 120px;
  width: 8ch;
}

.nav-heading > ul {
  display: none;
}

.nav-heading:hover ul {
  display: inline;
}

.nav-inner-list > li:hover {
  font-weight: bold;
}

.blogr-logo {
  font-weight: 700;
  font-size: 2em;
}

footer {
  height: 25%;
  border-top-right-radius: 125px;
  padding: 4em 0em;
  margin-top: 100px;
  background-color: #25252d;
  color: white;
  display: flex;
  flex-direction: row;
  position: relative;
  /* ? is this good practice? */
  justify-content: space-evenly;
  align-items: baseline;
  line-height: 2;
}

footer > * {
  margin-left: -10%;
}

a {
  text-decoration: none;
  color: #c8c8cb;
}

.attribution {
  background-color: #25252d;
  text-align: center;
}

.footer-ctgry {
  margin-bottom: 1em;
  font-weight: bold;
  color: white;
}

/* image background classes */
.editor-desktop {
  background-image: url("../images/illustration-editor-desktop.svg");
  background-position: right -40% top 0px;
  background-size: contain;
  color: #4b5862;
  height: 800px;
  font-weight: 300;
  /* margin: 5% 0;   */
}

.laptop-desktop {
  background: url("../images/illustration-laptop-desktop.svg");
  background-size: contain;
  height: 700px;
  margin-top: 100px;
  background-position: left -44% top 0px;
  color: #4b5862;
}

.laptop-desktop > div {
  padding-left: 20em;
}

.phones-circles {
  background: url("../images/bg-pattern-circles.svg") -200px -550px;
  background-color: #2c2d3f;
  color: white;
  /* todo these px values will create a huge radius on mobile - what's the better approach */
  border-bottom-left-radius: 125px;
  border-top-right-radius: 125px;
  margin-top: 100px;
}

.editor-desktop,
.laptop-desktop,
.phones-circles {
  /* background-size: contain; */
  background-repeat: no-repeat;
}

section {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
