// text colors
$cta-text-color: hsl(356, 100%, 66%);
$heading-color: hsl(208, 49%, 24%);
$light-text-color: hsl(0, 0%, 100%);
$ftr-text-color: hsl(240, 2%, 79%);
$body-text-color: hsl(207, 13%, 34%);
// bg colors
$ftr-bg-color: hsl(240, 10%, 16%);
$cta-hover-bg-color: hsl(355, 100%, 74%);
// gradient colors
$intro-grd-dark-color: hsl(353, 100%, 62%);
$intro-grd-light-color: hsl(13, 100%, 72%);
$body-grd-dark-color: hsl(237, 17%, 21%);
$body-grd-light-color: hsl(237, 23%, 32%);