
@import './colors';
@import './typography';
@import './responsive_mixin';

body {

  font-family: $overpass;
  user-select: none;
  margin: 0;
  font-size: 16px;
}

h2,h3,h4,h5,h6 {
  color: $heading-color;
}

button {
  // todo: change ubuntu variable to $body_text or something
  font-family: $ubuntu;
  border: 1px solid white;
  padding: 9px 18px;
  border-radius: 1.5em;
  background-color: transparent;
  font-weight: 500;
  color: white;

  width: 9em;
  height: 3em;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: baseline;
  
}

nav > ul {
  padding-left: 2em;
  color:hsl(0, 0%, 95%);
  
}

nav > ul:first-of-type {
  margin-left: 3em;
}

.arrow-sml {
  font-size: .75em;
}

p {
  width: 50ch;
  line-height: 1.8;
}

h1 {
  text-align: center;
  font-size: 3.75em;
  font-weight: 600;
  margin-bottom: 0;
}

header {
  color: $light-text-color;
  background-repeat: no-repeat;
  /* background-blend-mode: lighten; */
  background-image:
    url("../images/bg-pattern-intro.svg"), 
    linear-gradient(to left, 	hsl(353, 100%, 62%), hsl(13, 100%, 72%));
  background-position: -450px 52%, 0;
  background-size: 230%, 100%;  
  padding: 50px 0px 150px 0px;
  border-bottom-left-radius: 100px;
  margin-bottom: 100px;
}

header > h3 {
  
  text-align: center;
  // this is white with lightness brought down
  color: hsl(0, 0%, 90%);
  font-weight: 100;
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-bottom: 2em; 
}

main > h2 {
  
  text-align: center;
  font-size: 2em;
  margin-bottom: -2em;
}

main p {
  font-size: 0.85em;
}

h3 {
  font-size: 1.5em;
}

.hdr-btm-buttons {
  display: flex;
  justify-content: center;
}

.cta-button {
  background-color: white;
  color: hsl(353, 100%, 62%);
}


.top-row-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.text-img-wrapper {
  display: flex;
  flex-direction: row;
  height: 40vh;
  align-items: center;
  
}

.text-content-wrapper {
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  /* margin-top: 10%; */
  /* margin-bottom: 30%; */
}

.img-wrapper {
  width: 50%;
}

button:hover {
  background-color: hsl(13, 100%, 72%);
  color: white;
}

.nav-heading {
  padding-right: 3ch;
  height: 120px;
  
}

.nav-heading > li  {
  font-weight: bold;
  white-space: nowrap;
  
}

.nav-heading > li > span:hover {
  text-decoration: underline;
}

.nav-inner-list > li:hover {
  font-weight: bold;
}

.hide {
  display: none;
}

.show {
  display: inline;
}



.blogr-logo {
  font-weight: 700;
  font-size: 2.5em;
}

.login-signup-wrapper {

  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: relative;
  left: 3%;
}

footer {
  height: 25%;
  border-top-right-radius: 125px;
  padding: 4em 0em;
  margin-top: 100px;
  background-color: hsl(240, 10%, 16%);
  color: white;
  display: flex;
  flex-direction: row;
  position: relative;
  /* ? is this good practice? */
  justify-content: space-evenly;
  align-items: baseline;
  line-height: 2;
}

footer > * {
  margin-left: -10%;
}

.login-link {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: hsl(240, 2%, 79%);
}

.attribution {
  background-color: hsl(240, 10%, 16%);

  text-align: center;
}

.footer-ctgry {
  margin-bottom: 1em;
  font-weight: bold;
  color: white;
}

/* image background classes */

.editor-desktop {
  background-image: url("../images/illustration-editor-desktop.svg");
  background-position: right -40% top 0px;
  background-size: contain;
  color: $body-text-color;
  height: 800px;
  font-weight: 300;
  /* margin: 5% 0;   */
}

.laptop-desktop {
  background: url("../images/illustration-laptop-desktop.svg");
  background-size: contain;
  height: 700px;
  margin-top: 100px;
  background-position: left -44% top 0px;
  color: $body-text-color;
}

.laptop-desktop > div {
  padding-left: 20em;
}

.phones-circles {
  background: url("../images/bg-pattern-circles.svg") -200px -550px;
  background-color: hsl(237, 17%, 21%);
  color: white;
  /* todo these px values will create a huge radius on mobile - what's the better approach */
  border-bottom-left-radius: 125px;
  border-top-right-radius: 125px;
  margin-top: 100px;
}

.editor-desktop,
.laptop-desktop,
.phones-circles {
  /* background-size: contain; */
  background-repeat: no-repeat;
}

section {
  width: 100%;
}
